<?php
return array(
    // Auth (<public> => <private>)
    'auth' => array(),

    // Database driver
    'database' => new Imbo\Database\MongoDB(array(
        'database'   => 'imbo',
        'collection' => 'images',
    )),

    // Storage driver
    'storage' => new Imbo\Storage\Filesystem(array(
        'dataDir' => realpath('/some/path'),
    )),
);
