language: php
php:
  - 5.3
  - 5.4
notifications:
  irc:
    use_notice: true
    skip_join: true
    channels: ["irc.freenode.org#imbo"]
branches:
  only:
    - develop
    - master
before_script:
  - "sudo gem install nokogiri"
script: rake travis
