language: php

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 5.6
  - 7.0

matrix:
  allow_failures:
    - php: 7.0

notifications:
  irc:
    use_notice: true
    skip_join: true
    channels: ["irc.freenode.org#imbo"]

branches:
  only:
    - develop
    - master

services:
  - mongodb

before_install:
  - sudo apt-get update
  - pecl list
  - printf "\n" | pecl install --force mongodb
  - printf "\n" | pecl install imagick

before_script:
  - phpenv config-rm xdebug.ini
  - echo 'always_populate_raw_post_data = -1' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - composer self-update
  - composer lint
  - composer prepare
  - composer install --prefer-dist
  - composer start-httpd-for-behat-tests

script:
  - ./vendor/bin/phpunit --verbose -c phpunit.xml.travis --stop-on-failure
  - ./vendor/bin/behat --strict --stop-on-failure

after_failure:
  - echo "Tests failed - httpd log follows"
  - echo "================================"
  - cat build/logs/httpd.log
