default:
    suites:
        mongodb_gridfs:
            paths: [%paths.base%/tests/behat/features]
            contexts: [ImboBehatFeatureContext\MongoDB_GridFS]

    extensions:
        Imbo\BehatApiExtension:
            apiClient:
                base_uri: http://localhost:8080
