default:
  suites:
    mongodb-gridfs:
      project_root: "%paths.base%"
      contexts: [Imbo\Behat\FeatureContext]
      database: MongoDB
      storage: GridFS
    mongodb-filesystem:
      project_root: "%paths.base%"
      contexts: [Imbo\Behat\FeatureContext]
      database: MongoDB
      storage: Filesystem
    doctrine-sqlite-filesystem:
      project_root: "%paths.base%"
      contexts: [Imbo\Behat\FeatureContext]
      database: DoctrineSQLite
      storage: Filesystem
    doctrine-mysql-filesystem:
      project_root: "%paths.base%"
      contexts: [Imbo\Behat\FeatureContext]
      database: DoctrineMySQL
      database.hostname: localhost
      database.database: imbo_test
      database.username: imbo_test
      database.password: imbo_test
      database.port: 3306
      storage: Filesystem

  extensions:
    Imbo\BehatApiExtension:
      apiClient:
        base_uri: http://localhost:8080
