default:
    suites:
        mongodb_gridfs:
            paths: [%paths.base%/tests/behat/features]
            contexts: [ImboBehatFeatureContext\FeatureContext]
            database: MongoDB
            storage: GridFS

    extensions:
        Imbo\BehatApiExtension:
            apiClient:
                base_uri: http://localhost:8080
