<?xml version="1.0" encoding="UTF-8"?>
<project name="Imbo" default="build" basedir=".">
  <property name="source" value="${basedir}/library/Imbo"/>
  <property name="build" value="${basedir}/build"/>

  <target name="clean" description="Clean up and create artifact directories">
    <delete dir="${build}"/>

    <mkdir dir="${build}/coverage"/>
    <mkdir dir="${build}/logs"/>
    <mkdir dir="${build}/docs"/>
    <mkdir dir="${build}/code-browser"/>
    <mkdir dir="${build}/pdepend"/>
  </target>

  <target name="lint">
    <apply executable="php" failonerror="true">
      <arg value="-l" />

      <fileset dir="${source}">
        <include name="**/*.php" />
        <modified />
      </fileset>

      <fileset dir="${basedir}/tests">
        <include name="**/*.php" />
        <modified />
      </fileset>
    </apply>
  </target>

  <target name="phpab" description="Update autoloader using phpab">
    <exec executable="phpab">
      <arg line="-o ${source}/Autoload.php -t ${source}/Autoload.php.in --indent '        ' ${source}"/>
    </exec>
  </target>

  <target name="phpunit" description="Run unit tests using PHPUnit and generates junit.xml and clover.xml (config in phpunit.xml)">
    <exec executable="phpunit" failonerror="true"/>
  </target>

  <target name="docblox" description="Generate API documentation using DocBlox (config in docblox.xml)">
    <exec executable="docblox"/>
  </target>

  <target name="phploc" description="Generate phploc data">
    <exec executable="phploc">
      <arg line="--log-csv ${build}/logs/phploc.csv --log-xml ${build}/logs/phploc.xml ${source}"/>
    </exec>
  </target>

  <target name="phpcs" description="Generate checkstyle.xml using PHP_CodeSniffer">
    <exec executable="phpcs" output="/dev/null">
      <arg line="--report=checkstyle --report-file=${build}/logs/checkstyle.xml --standard=Imbo ${source}"/>
    </exec>
  </target>

  <target name="phpcb" description="Aggregate tool output with PHP_CodeBrowser">
    <exec executable="phpcb">
      <arg line="--log ${build}/logs --source ${source} --output ${build}/code-browser"/>
    </exec>
  </target>

  <target name="phpcpd" description="Generate pmd-cpd.xml using PHPCPD">
    <exec executable="phpcpd">
      <arg line="--log-pmd ${build}/logs/pmd-cpd.xml ${source}"/>
    </exec>
  </target>

  <target name="pdepend" description="Generate jdepend.xml and software metrics charts using PHP_Depend">
    <exec executable="pdepend">
      <arg line="--jdepend-xml=${build}/logs/jdepend.xml --jdepend-chart=${build}/pdepend/dependencies.svg --overview-pyramid=${build}/pdepend/overview-pyramid.svg ${source}"/>
    </exec>
  </target>

  <target name="phpmd" description="Generate pmd.xml using PHPMD (configuration in phpmd.xml)">
    <exec executable="phpmd">
      <arg line="${source} xml ${basedir}/phpmd.xml --reportfile ${build}/logs/pmd.xml"/>
    </exec>
  </target>

  <target name="build" depends="clean,lint,phpab,phpunit,docblox,phploc,phpcs,phpcb,phpcpd,pdepend,phpmd"/>
</project>
