<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
  bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="Imbo test suite">
      <directory>tests/Imbo</directory>
    </testsuite>
  </testsuites>

  <php>
    <const name="MEMCACHED_TEST_HOST" value="" />
    <const name="MEMCACHED_TEST_PORT" value="" />
  </php>

  <logging>
    <log type="coverage-html" target="build/coverage" title="Code coverage for Imbo"
      charset="UTF-8" yui="true" highlight="true" />
    <log type="coverage-clover" target="build/logs/clover.xml" />
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">library/Imbo</directory>
    </whitelist>
  </filter>
</phpunit>
