<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  executionOrder="depends,defects"
  forceCoversAnnotation="true"
  beStrictAboutCoversAnnotation="false"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTodoAnnotatedTests="false"
  verbose="true">

  <testsuites>
    <testsuite name="imbo-unit">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <!-- General config -->
    <const name="FIXTURES_DIR" value="./tests/Fixtures" />
    <const name="PROJECT_ROOT" value="./" />
    <const name="DATA_DIR" value="./data" />

    <!-- AWS S3 tests -->
    <const name="AWS_S3_KEY" value="" />
    <const name="AWS_S3_SECRET" value="" />
    <const name="AWS_S3_BUCKET" value="" />
    <const name="AWS_S3_REGION" value="" />
  </php>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <directory>tests/behat/features/bootstrap</directory>
    </whitelist>
  </filter>

  <groups>
    <exclude>
      <group>local</group>
    </exclude>
  </groups>
</phpunit>
