<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  executionOrder="depends,defects"
  forceCoversAnnotation="true"
  beStrictAboutCoversAnnotation="false"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTodoAnnotatedTests="false"
  verbose="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
      <file>features/bootstrap/FeatureContext.php</file>
    </include>
  </coverage>

  <testsuites>
    <testsuite name="imbo-unit">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
