<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false" bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="imbo">
      <directory>Imbo/UnitTest</directory>
    </testsuite>
    <testsuite name="imbo-integration">
      <directory>Imbo/IntegrationTest</directory>
    </testsuite>
  </testsuites>

  <php>
    <!-- Memcached cache driver integration tests -->
    <var name="MEMCACHED_HOST" value="" />
    <var name="MEMCACHED_PORT" value="" />
  </php>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../library/Imbo</directory>
    </whitelist>
  </filter>
</phpunit>
