<?php
/**
 * Imbo
 *
 * Copyright (c) 2011-2012, Christer Edvartsen <cogo@starzinger.net>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to
 * deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * * The above copyright notice and this permission notice shall be included in
 *   all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 *
 * @package Imbo
 * @subpackage Server
 * @author Christer Edvartsen <cogo@starzinger.net>
 * @copyright Copyright (c) 2011-2012, Christer Edvartsen <cogo@starzinger.net>
 * @license http://www.opensource.org/licenses/mit-license MIT License
 * @link https://github.com/imbo/imbo
 */

namespace Imbo;

/**
 * Require Imbo autoloader
 */
require 'autoloader.php';

return array(
    /**
     * Authentication
     *
     * This value must be set to an array with key => value pairs mapping to public and private keys
     * of the users of this installation. The public keys must match the following case sensitive
     * expression:
     *
     * ^[a-z0-9_-]{3,}$
     *
     * @var array
     */
    'auth' => array(),

    /**
     * Database adapter
     *
     * See the different adapter implementations for possible configuration parameters
     *
     * @var Imbo\Database\DatabaseInterface
     */
    'database' => new Database\MongoDB(array(
        'databaseName'   => 'imbo',
        'collectionName' => 'images',
    )),

    /**
     * Storage adapter
     *
     * See the different adapter implementations for possible configuration parameters
     *
     * @var Imbo\Storage\StorageInterface
     */
    'storage' => new Storage\GridFS(array(
        'databaseName' => 'imbo_storage',
    )),

    /**
     * Event listeners
     *
     * Each element in this array is either an instance of an event listener, or another array with
     * the following keys:
     *
     * - events
     * - callback
     * - priority
     *
     * 'events' is an array of events that the 'callback' will subscribe to. If you have a single
     * callback that subscribes to several events, and you want to use different priorities for the
     * events, simply specify an associative array where the keys are the event names, and the
     * values are the priorities. If you use this method, the 'priority' key will be ignored.
     *
     * 'callback' is any callable function. The function will receive a single argument, which is
     * an instance of Imbo\EventManager\EventInterface.
     *
     * 'priority' is the priority of your listener. This defaults to 1 (low priority). The priority
     * can also be a negative number if you want your listeners to be triggered after Imbo's event
     * listeners.
     *
     * If you want your listeners to trigger for only some users (public keys) you can have your
     * listener implement Imbo\EventListener\PublicKeyAwareListenerInterface and implement the
     * required methods.
     *
     * Example of how to add listeners:
     *
     * 'eventListeners' => array(
     *   // Implementation of a listener interface
     *   new EventListener\Authenticate(),
     *
     *   // A closure that will subscribe to two events
     *   array(
     *     'callback' => function($event) {
     *       // Some code
     *     },
     *     'events' => array(
     *       'image.get', 'image.post'
     *     ),
     *     'priority' => 20,
     *   ),
     *
     *   // A closure that will subscribe to two events with different priorities
     *   array(
     *     'callback' => function($event) {
     *       // Some code
     *     },
     *     'events' => array(
     *       'image.get' => 20, // Trigger BEFORE the internal handler for "image.get"
     *       'image.post' => -20, // Trigger AFTER the internal handler for "image.post"
     *     ),
     *   ),
     * ),
     *
     * @var array
     */
    'eventListeners' => array(
        new EventListener\Authenticate(),
        new EventListener\AccessToken(),
    ),

    /**
     * Image transformations
     *
     * This array includes all supported image transformations. The keys are the names of the
     * transformations that is used in the URL, and the values are closures that will receive a
     * single parameter: $params, which is the parameters found in the URL associated with the
     * transformation.
     *
     * Example:
     *
     * t[]=border:width=2,height=3
     *
     * will end up doing a new Image\Transformation\Border(array('width' => 2, 'height' => 3))
     *
     * All closures must return an instance of the Imbo\Image\Transformation\TransformationInterface
     * interface or a callable piece of code, that in turn will receive a single parameter:
     *
     * Imbo\Image\Image $image
     *
     * which is the image you want your transformation to modify.
     *
     * All image transformations shipped by Imbo uses imagick, and if you want to use something
     * else, simply supply your own classes in the array below.
     *
     * @var array
     */
    'transformations' => array(
        'border' => function (array $params) {
            return new Image\Transformation\Border($params);
        },
        'canvas' => function (array $params) {
            return new Image\Transformation\Canvas($params);
        },
        'compress' => function (array $params) {
            return new Image\Transformation\Compress($params);
        },
        'convert' => function (array $params) {
            return new Image\Transformation\Convert($params);
        },
        'crop' => function (array $params) {
            return new Image\Transformation\Crop($params);
        },
        'desaturate' => function (array $params) {
            return new Image\Transformation\Desaturate();
        },
        'flipHorizontally' => function (array $params) {
            return new Image\Transformation\FlipHorizontally();
        },
        'flipVertically' => function (array $params) {
            return new Image\Transformation\FlipVertically();
        },
        'maxSize' => function (array $params) {
            return new Image\Transformation\MaxSize($params);
        },
        'resize' => function (array $params) {
            return new Image\Transformation\Resize($params);
        },
        'rotate' => function (array $params) {
            return new Image\Transformation\Rotate($params);
        },
        'thumbnail' => function (array $params) {
            return new Image\Transformation\Thumbnail($params);
        },
        'transpose' => function (array $params) {
            return new Image\Transformation\Transpose();
        },
        'transverse' => function (array $params) {
            return new Image\Transformation\Transverse();
        },
    ),
);
