<?php
return array(
    // Auth (<public> => <private>)
    'auth' => array(),

    // Database driver
    'database' => new PHPIMS\Database\Driver\MongoDB(array(
        'database'   => 'phpims',
        'collection' => 'images',
    )),

    // Storage driver
    'storage' => new PHPIMS\Storage\Driver\Filesystem(array(
        'dataDir' => realpath('/some/path'),
    )),
);
