<?php
return array(
    // Auth
    'auth' => array(
        'publicKey' => '',
        'privateKey' => '',
    ),
    
    // Configuration for the database driver
    'database' => array(
        'driver' => 'PHPIMS\\Database\\Driver\\MongoDB',
        'params' => array(
            'database'   => 'phpims',
            'collection' => 'images',
        ),
    ),

    // Configuration for the storage driver
    'storage' => array(
        'driver' => 'PHPIMS\\Storage\\Driver\\Filesystem',
        'params' => array(
            'dataDir' => realpath('/some/path'),
        ),
    ),

    // Custom plugins
    'plugins' => array(),
);