<?php
return array(
    // Auth
    'auth' => array(
        'publicKey' => '',
        'privateKey' => '',
    ),
    
    // Configuration for the database driver
    'database' => new PHPIMS\Database\Driver\MongoDB(array(
        'database'   => 'phpims',
        'collection' => 'images',
    )),

    // Configuration for the storage driver
    'storage' => new PHPIMS\Storage\Driver\Filesystem(array(
        'dataDir' => realpath('/some/path'),
    )),
);