name: CI
on:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  tests-and-qa:
    name: composer run ${{ matrix.composer-script }} / PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - "8.3"
          - "8.4"
          - "8.5"
        mongodb:
          - "8.2"
        mysql:
          - "9.5"
        postgresql:
          - "18.1"
        composer-script:
          - sa
          - test:unit
          - cs
    services:
      mongodb:
        image: mongo:${{ matrix.mongodb }}
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: admin
          MONGO_INITDB_ROOT_PASSWORD: password
      mysql:
        image: mysql:${{ matrix.mysql }}
        ports:
          - 3333:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: imbo_test
          MYSQL_USER: imbo_test
          MYSQL_PASSWORD: imbo_test
      postgreql:
        image: postgres:${{ matrix.postgresql }}
        ports:
          - 5555:5432
        env:
          POSTGRES_USER: imbo_test
          POSTGRES_PASSWORD: imbo_test
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: imagick
      - id: composer-cache-dir
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - id: composer-cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-php-${{ matrix.php }}-composer-${{ hashFiles('**/composer.lock') }}
      - run: composer validate --strict
      - run: composer install
      - run: sqlite3 /tmp/imbo-sqlite-integration-test.sq3 < ./scripts/sqlite/000-imbo.sql
      - run: mysql -uimbo_test -pimbo_test -h127.0.0.1 -P3333 imbo_test < ./scripts/mysql/000-imbo.sql
      - run: psql postgresql://imbo_test:imbo_test@127.0.0.1:5555/imbo_test -f ./scripts/postgresql/000-imbo.sql
      - run: composer run ${{ matrix.composer-script }}
  integration-tests:
    name: Integration tests (${{ matrix.test-suite }} / PHP ${{ matrix.php }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - "8.3"
          - "8.4"
          - "8.5"
        test-suite:
          - mongodb-gridfs
          - mongodb-filesystem
          - sqlite-filesystem
          - mysql-filesystem
          - postgresql-filesystem
        mongodb:
          - "8.2"
        mysql:
          - "9.5"
        postgresql:
          - "18.1"
    services:
      mongodb:
        image: mongo:${{ matrix.mongodb }}
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: admin
          MONGO_INITDB_ROOT_PASSWORD: password
      mysql:
        image: mysql:${{ matrix.mysql }}
        ports:
          - 3333:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: imbo_test
          MYSQL_USER: imbo_test
          MYSQL_PASSWORD: imbo_test
      postgresql:
        image: postgres:${{ matrix.postgresql }}
        ports:
          - 5555:5432
        env:
          POSTGRES_USER: imbo_test
          POSTGRES_PASSWORD: imbo_test
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: imagick
      - id: composer-cache-dir
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - id: composer-cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-php-${{ matrix.php }}-composer-${{ hashFiles('**/composer.lock') }}
      - run: composer install
      - run: sqlite3 /tmp/imbo-sqlite-integration-test.sq3 < ./scripts/sqlite/000-imbo.sql
      - run: mysql -uimbo_test -pimbo_test -h127.0.0.1 -P3333 imbo_test < ./scripts/mysql/000-imbo.sql
      - run: psql postgresql://imbo_test:imbo_test@127.0.0.1:5555/imbo_test -f ./scripts/postgresql/000-imbo.sql
      - run: |
          mkdir -p build/logs
          php -S localhost:8080 -t ./public features/bootstrap/router.php > build/logs/httpd.log 2>&1 &
      - run: vendor/bin/behat --strict --suite=${{ matrix.test-suite }}
      - uses: actions/upload-artifact@v6
        with:
          name: httpd-logs-${{ matrix.test-suite }}-php-${{ matrix.php }}
          path: build/logs/
  branch-protection:
    needs:
      - tests-and-qa
      - integration-tests
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Branch protection
    steps:
      - if: ${{ needs.tests-and-qa.result != 'success' || needs.integration-tests.result != 'success' }}
        run: exit 1
      - run: echo "All checks passed."
